{{!< default}}

<main class="site-main">

    {{#post}}

    <article class="{{post_class}}">

        <header class="gh-article-header gh-canvas">
            <h1 class="gh-article-title">{{title}}</h1>
            <div class="post-meta">
                Last updated on&nbsp;
                <time datetime="{{date format="DD-MM-YYYY"}}">{{date updated_at}}</time>,
                published on&nbsp;
                <time datetime="{{date format="DD-MM-YYYY"}}">{{date}}</time>
                by {{authors}}
            </div>
            {{> "post-image"}}
        </header>

        <div class="gh-content gh-canvas">
            {{content}}
        </div>

        {{#if comments}}
            <div class="gh-comments gh-canvas">
                {{comments}}
            </div>
        {{/if}}

    </article>

    {{/post}}

</main>
