{{!< default}}

<main class="site-main">

    {{#post}}

    <article class="{{post_class}}">

        <header class="gh-article-header gh-canvas">
            <h1 class="gh-article-title">{{title}}</h1>
            <div class="post-meta">
                Last updated on 
                <time datetime="{{date format="YYYY-MM-DD"}}">{{date updated_at format="D MMM YYYY"}}</time>,
                published on 
                <time datetime="{{date format="YYYY-MM-DD"}}">{{date format="D MMM YYYY"}}</time> 
                by&nbsp;{{authors}}
            </div>
            {{> "post-image"}}
        </header>

        <div class="gh-content gh-canvas">
            {{content}}
        </div>

        {{#if comments}}
            <div class="gh-comments gh-canvas">
                {{comments}}
            </div>
        {{/if}}

    </article>

    {{/post}}

</main>
